doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width")
    title
    link(href="lib/ionic/css/ionic.css", rel="stylesheet")
    link(href="css/style.css", rel="stylesheet")
    // If using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    link(href="css/ionic.app.css", rel="stylesheet")

    // ionic/angularjs js
    script(src="lib/ionic/js/ionic.bundle.js")
    // cordova script (this will be a 404 during development)
    script(src="cordova.js")
    // your app's js
    script(src="js/app.js")
  body(ng-app="CatchUp")
    ion-nav-bar
      ion-nav-back-button.button-icon.ion-arrow-left-c
    ion-nav-view

    script(id="home.html", type="text/ng-template")
      ion-view(title="Home")
        ion-nav-buttons(side="left")
          button.button.button-icon.icon.ion-plus-round(ng-click="pickContact()")
        ion-content
          ion-list
            ion-item(ng-repeat="catchUp in catchUps")
              a(href="#/edit/{{$index}}") {{ catchUp.person.fullName }}

    script(id="contacts.html", type="text/ng-template")
      .modal
        // Modal header bar
        ion-header-bar.bar-secondary
          h1.title Contacts
          button.button.button-clear.button-positive(ng-click="cancelPickContact()") Cancel
        // Modal content area
        ion-content
          ion-list
            ion-item(ng-repeat="contact in contacts", ng-click="newCatchUp(contact)")
              | {{ contact.fullName }}

    script(id="edit.html", type="text/ng-template")
      ion-view(title="{{catchUp.person.fullName}}")
