doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width")
    title
    link(href="css/ionic.app.css", rel="stylesheet")

    // jQuery
    link(href="lib/jquery-ui.css", rel="stylesheet")
    script(src="lib/jquery.min.js")
    script(src="lib/jquery-ui.min.js")
    script(src="lib/jquery.ui.touch-punch.min.js")


    // ionic/angularjs js
    script(src="lib/ionic/js/ionic.bundle.js")

    script(src="lib/slider.js")

    // cordova script (this will be a 404 during development)
    script(src="lib/ionic/js/ng-cordova.js")
    script(src="cordova.js")

    // your app's js
    script(src="js/app.js")

  body(ng-app="CatchUp")
    ion-nav-bar.bar-positive
      ion-nav-back-button.button-icon.ion-arrow-left-c
    ion-nav-view

    script(id="home.html", type="text/ng-template")
      ion-view(title="Catch Up")
        ion-nav-buttons(side="right")
          button.button.button-icon.icon.ion-plus-round(ng-click="pickContact()")
        ion-content
          ion-list.catchUps
            ion-item.item-icon-left.item-icon-right(ng-repeat="catchUp in catchUps", href="#/edit/{{$index}}")
              i.icon.ion-android-person
              span.displayName {{ catchUp.person.name.formatted }}
              i.icon.ion-ios-telephone
              i.icon.ion-chatbubble

    script(id="edit.html", type="text/ng-template")
      ion-view(title="{{catchUp.person.name.formatted}}")
        ion-pane.edit-content
          p.how-often How often do you want to catch up?
          p.every Every
          p.frequency {{catchUp.frequency}}
          p.period
            | {{catchUp.period}}
            span(ng-show="catchUp.frequency > 1") s
          p.change You can always change this later

          .button-wrapper
            button.button.button-block.button-large.button-royal.add-friend(ng-click="saveCatchUp()") Save

          div(ui-slider="{orientation: 'vertical'}", min=0, max="{{frequencyScale.length-1}}", step=1, ng-model="rawFrequency")
