<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>
    <link href="css/ionic.app.css" rel="stylesheet">
    <!-- ionic/angularjs js-->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <!-- cordova script (this will be a 404 during development)-->
    <script src="lib/ionic/js/ng-cordova.js"></script>
    <script src="cordova.js"></script>
    <!-- your app's js-->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="CatchUp">
    <ion-nav-bar class="bar-positive">
      <ion-nav-back-button class="button-icon ion-arrow-left-c"></ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view></ion-nav-view>
    <script id="home.html" type="text/ng-template">
      <ion-view title="Catch Up">
        <ion-nav-buttons side="right">
          <button ng-click="pickContact()" class="button button-icon icon ion-plus-round"></button>
        </ion-nav-buttons>
        <ion-content>
          <ion-list class="catchUps">
            <ion-item ng-repeat="catchUp in catchUps" href="#/edit/{{$index}}" class="item-icon-left item-icon-right"><i class="icon ion-android-person"></i><span class="displayName">{{ catchUp.person.name.formatted }}</span><i class="icon ion-ios-telephone"></i><i class="icon ion-chatbubble"></i></ion-item>
          </ion-list>
        </ion-content>
      </ion-view>
    </script>
    <script id="edit.html" type="text/ng-template">
      <ion-view title="{{catchUp.person.name.formatted}}">
        <ion-content class="edit-content">
          <p class="how-often">How often do you want to catch up?</p>
          <p class="every">Every</p>
          <p class="frequency">{{catchUp.frequency}}</p>
          <p class="period">{{catchUp.period}}<span ng-show="catchUp.frequency &gt; 1">s</span></p>
          <p class="change">You can always change this later</p>
          <div class="button-wrapper">
            <button class="button button-block button-large button-royal add-friend">Add friend</button>
          </div>
        </ion-content>
      </ion-view>
    </script>
  </body>
</html>